<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<link rel="stylesheet" href="css/style.css">
<body>
    <h1 id="header-username"> <%= username %> </h1>
    <form action="/chat" method="post" id="chat">
        <label for="message" id="message-label">Message: </label>
        <textarea name="message" id="message" cols="50" rows="30" placeholder="write message"></textarea>
        <input type="submit">
    </form>
    <br><br>
    <form action="/user/logout" method="post" id="logout-btn">
        <button>logout</button>
    </form>
    <div class="chatDisplay">
        
    </div>
</body>
</html>