<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>REGISTER!</h1>
    <form action="/register" method="post">
        <label for="email">Email ID: </label>
        <input type="email" name="email" id="email" placeholder="Enter your mail ID" autocomplete="off" required> <br> <br>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" placeholder="Enter username" autocomplete="off" required> <br> <br>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="Enter password" autocomplete="off" required> <br> <br>
        <label for="repassword">Confirm Password: </label>
        <input type="password" name="repassword" id="repassword" placeholder="re-enter password to confirm" autocomplete="off" required> <br><br>
        <input type="submit" value="Register!">
    </form> <br><br>
    <form action="/user" method="get">
        <button>Login</button>
    </form>
</body>
</html>